In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import psycopg2
import pprint
import numpy as np

In [13]:
from sqlalchemy import create_engine
#

In [14]:
database_path = ('../Homeworks/09-SQL/g4g.db')

In [15]:
engine = create_engine(f"sqlite:///{database_path}")
conn = engine.connect()

In [16]:
data = pd.read_sql("SELECT * FROM salaries", conn)

In [17]:
data.head()

   emp_no  salary
0  emp_no  salary
1   10001   60117
2   10002   65828
3   10003   40006
4   10004   40054